<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485314961002-8htplqik02oonc46lueeqbp6i83l2qof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485314961002-8htplqik02oonc46lueeqbp6i83l2qof</string>
	<key>API_KEY</key>
	<string>AIzaSyDF8TH5vhVLijQJcrONuDcGu5WlaZ4R3Sk</string>
	<key>GCM_SENDER_ID</key>
	<string>485314961002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.horovenko.betterChat</string>
	<key>PROJECT_ID</key>
	<string>betterchat-44fd3</string>
	<key>STORAGE_BUCKET</key>
	<string>betterchat-44fd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:485314961002:ios:c965c317f6c6b4b1c53413</string>
</dict>
</plist>
